<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">a</value>
        <value name="value">1</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">val2</value>
        <value name="value">gvhandle.val2</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">val1</value>
        <value name="value">10</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">testpassword</value>
        <value name="value">gvhandle.testpassword</value>
        <value name="isSecure">true</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
